.profile-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.message-item {
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #cccccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.message-item:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.container{
    /* background-color: #edc03b; */
}


body {
    position: relative;
    /* Make sure the body has some positioning so the pseudo-element can be positioned relative to it */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/H-BTS4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3; /* Adjust this to control the transparency */
    z-index: -1; /* Ensure it sits behind the other content */
}


