@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
}

.container {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #f2f2f2;
    z-index: 1;
}

.header {
    background-color: transparent;
    border-bottom:transparent;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: top 1s ease, transform 1s ease;
    height: auto;
    text-align: center;
    margin-top: 2%;
    left: 0%;
    top: 50%;
    z-index: 2;
    width: 20%;
    padding: 20px 0;
    position: absolute;
}

.header h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    margin: 0;
}



#intro-section{
    transition: opacity 1s ease, transform 1s ease;
}

#intro-section.hidden{
    opacity: 0;
    transform: translateY(-20px);
}

.title {
    margin-top: 150px;
    color: #dc143c;
}


#container {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #f2f2f2;
    z-index: 2;
    height: 650px;
    background-image: url('../images/H-BTS.jpg');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

#container img{
    max-width: 100%; /* Ensure the image fits inside the div */
    max-height: 100%;
    z-index: 2;
}

#login-container {
    z-index: 2;
    display: flex;
    justify-content: space-around;
}


#parent-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px);
    max-width: 400px;
    max-height: 200px;
    flex: 1;
    margin-top: 50px;
    font-size: 20px;
    max-width: 500px;
    transition: all 0.2s ease-in-out;
}

#parent-form-container:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}



#tutor-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #e909091a;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(20px);
    max-width: 400px;
    max-height: 200px;
    /* margin: 0 auto; */
    flex: 1;
    margin-top: 50px;
    font-size: 20px;
    max-width: 500px;
    transition: all 0.2s ease-in-out;
}

#tutor-form-container:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}


button {
    font-size: 15px;
}

#bridge {
    background-color: #0f1b2e;
    color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

#bridge h1{
    color: #fff;
    display: inline-block;
    font-size: 15px;
}

#bridge h2{
    color: #fff;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

#bridge:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}


#aboutus-3d {
    background-color: #fff;
    color: #122139;
    height: auto;
}

#aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 40px;
    border: none; /* Remove any existing border */
    box-shadow: 4px 4px 0px 0px #000; /* Creates the 3D effect on the right and bottom */
    transition: all 0.2s ease-in-out;
    border: 2px solid #000000;
}

#aboutus p{
    text-align: left;
}

#aboutus:hover {
    box-shadow: 8px 8px 0px 0px #000; /* Make the shadow larger for the pop-out effect */
    transform: translate(-2px, -2px); /* Slightly move the element up and to the left to enhance the effect */
}

#aboutus img {
    height: 250px;
    width: 450px; /* Make sure the width and height are equal */
    margin-right: 50px;
    border-radius: 50%; /* This makes the image circular */
    border-color: #fff;
    object-fit: cover; /* Ensures the image fills the circular area */
}

#group-3 {
    display: flex;
    justify-content: space-between; /* Distributes the extra-text divs evenly */
    align-items: flex-start; /* Aligns the divs at the top */
    gap: 20px; /* Optional: Adds space between the divs */
    background-color: #0f1b2e;
    color: #fff;
    height: auto;
    padding: 20px;
    width: 100%; /* Define the width of the container */
    overflow-x: auto; /* Enables horizontal scrolling */
    flex-wrap: nowrap; /* Prevents wrapping to maintain a single row */
}

#group {
    flex: 1; 
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    height: auto;
    margin-top: 40px;
    transition: all 0.2s ease-in-out;
}

#group h1 {
    letter-spacing: 2px;
    font-weight: 100;
}

#group img {
    height: 250px;
    width: 250px; /* Make sure the width and height are equal */
    border-radius: 50%; /* This makes the image circular */
    border-color: #fff;
    object-fit: cover; /* Ensures the image fills the circular area */
}

#group:hover {
    background-color: #fff;
    color: #122139;
    border-color: #122139;
}


#group-3d {
    background-color: #fff;
    color: #122139;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 500px;
    padding: 20px;
}

#group-d {
    border-radius: 5px;
    border: none; /* Remove any existing border */
    box-shadow: 4px 4px 0px 0px #000; /* Creates the 3D effect on the right and bottom */
    transition: all 0.2s ease-in-out;
    border: 2px solid #000000;
    padding: 20px;
}

#group-d:hover {
    box-shadow: 8px 8px 0px 0px #000; /* Make the shadow larger for the pop-out effect */
    transform: translate(-2px, -2px); /* Slightly move the element up and to the left to enhance the effect */
}

#group-d img {
    height: 200px;
    width: 200px;
}

#group-d h1 {
    letter-spacing: 2px;
    font-weight: 100;
}

.emphasis {
    color: #dc143c;
    font-family: 'Dancing Script', sans-serif;
    font-weight: 4000;
}
