.env
/homeworkFiles/student/*
/messageFiles/student/*
/profileFiles/student/profilePicture/*
/homeworkFiles/tutor/*
/messageFiles/tutor/*
/profileFiles/tutor/profilePicture/*
updateStuff.js
index11.js
index12.js
index13.js